<%= form_with(model: @employee) do |form| %>
       
    <div>
      <%= form.label :first_name, style: "display: block" %>
      <%= form.text_field :first_name %>
    </div>
      
    <div>
      <%= form.label :last_name, style: "display: block" %>
      <%= form.text_field :last_name %>
    </div>
    
    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>

    <div>
      <%= f.label :yearly_salary %>
      $<%= f.number_field :yearly_salary %>
    </div>

    <div>
      <%= f.label :department_id %>
      <%= f.select :department_id, Department.pluck(:name, :id)%>
    </div>
    
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  