<h1>Employee Details</h1>

  <div>
    <strong>Name:</strong> <%= @employee.full_name %>
  </div>

  <div>
    <strong>Email:</strong> <%= @employee.email %>
  </div>

  <div>
    <strong>Department:</strong> <%= @employee.department_present %>
  </div>
  
  <div>
    <strong>Salary:</strong> <%= @employee.salary %>
  </div>

  <div>
    <%= link_to "Edit Employee", edit_employee_path(@employee) %> |
    <%= link_to "Back to Employees", employees_path %>

    <%= button_to "Destroy Employee", @employee, method: :delete %>
    
  </div>