<nav class="navbar">
  <ul>
    <li><%= link_to "Home", root_path %></li>

    <% if current_employee&.admin? %>
      <li><%= link_to "New Employee", new_employee_path %></li>
      <li><%= link_to "Departments", departments_path %></li>
      <li><%= link_to "New Departments", new_department_path %></li>
    <% end %>

    <% if employee_signed_in? %>
      <li>
        <%= button_to 'Sign Out', destroy_employee_session_path, method: :delete, class: "logout-button" %>
      </li>
    <% else %>
      <li><%= link_to "Register", new_employee_registration_path %></li>
      <li><%= link_to "Sign In", new_employee_session_path %></li>
    <% end %>
  </ul>
</nav>
